/vendor/
/node_modules/

.env
.env.*.backup

.idea/
.vscode/
*.sublime-project
*.sublime-workspace

.DS_Store
Thumbs.db

npm-debug.log*
yarn-error.log*

.phpunit.result.cache

/public/storage

/public/hot
/public/mix-manifest.json
/public/css/app.css
/public/js/app.js

*.compiled.php
